#calendar{
  background-color: var(--color-39);
  /* margin: 20px; */
  /* border: black 3px solid; */
  border-radius: 20px;
  padding: 2% 1% 1% 1%;
  width: 800px;
}

h1 {
  margin: 20px;
}

.fc .fc-toolbar-title{

  font-size: 2.5rem;
  margin-left: 50px;
  text-align: center;
  font-family: londonaregular;
  color: var(--text-color);
}


.fc .fc-toolbar {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.fc .fc-button-primary:disabled {
  display: none;
}

.fc .fc-button-primary {
  background-color: var(--color-35);
}


.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  background: transparent;
  border: none;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  background: transparent;
  border: none;
}


.fc-event-time{
  display: none;
}

.fc-daygrid-event-dot{
  width: 10px;
  height: 10px;
  border-radius: 25px;
}

.fc-next-button {
  background-color: #007bff; /* Nova cor de fundo */
  color: #ffffff;           /* Cor do texto */
  border-color: #0056b3;    /* Cor da borda */
}

.fc-next-button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
  border-color: #004085;     /* Cor da borda ao passar o mouse */
  color: #ffffff;            /* Cor do texto ao passar o mouse */
}

.fc-next-button:focus {
  outline: none;             /* Remove o contorno padrão ao focar */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efeito de foco */
}

#calendar a {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
}

/* #calendar .fc-daygrid-event-harness :hover{
  background-color: red;
} */


#calendar td,#calendar tr, #calendar th, #calendar table{
  /* border-color: lightcoral; */
  border: none;
}
#calendar .fc-day-today{
  background-color: var(--color-35);
}

#calendar .fc-day-other{
  background-color: var(--color-39);
  opacity: 0.2;
}
#calendar .fc-popover{
  background-color: var(--color-39);
}

.fc-daygrid-event-dot {
  aspect-ratio: 1/1;
}

/* LEGENDA */
.dot-legend{
  aspect-ratio: 1/1;
  border: 10px solid;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}

.legend-content {
  background: var(--color-35);
  border-radius: 10px;
  padding: 20px;
}

.text-calendar {
  word-wrap: break-word;
  text-transform: uppercase;
  font-family: quicksand;
  font-weight: 500;
  font-size: 1.9rem;
  color: var(--color-33);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .2rem;
}

.dot-legend {
  justify-content: center;
  background: var(--color-39);
  border: 2px solid var(--color-33);
}