/* ========== FOOTER ========== */

.footer {
    width: 100%;
    background-color: var(--color-11);
    color: var(--text-color);
    text-align: center;
    padding: 40px 0;
    font-size: 1rem;
    font-family: Poppins;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.footer p {
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.6;
}

.footer strong {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.footer a {
    color: #A3D9A5;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
    color: #FFF;
}
