/* ========== CONTAINER ========== */

.main {
    width: calc(100% - 120px);
    min-height: 100vh;
    margin-right: 10px;
    padding-top: 10px;
}


.text-main {
    color: var(--color-38);
    font-size: 2.5rem;
    margin: 20px;
    font-weight: 700;
    letter-spacing: .2rem;
    font-family: londonaregular;
}