@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== COLORS ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #668C65;
    --primary-color: #40573D;
    --sidebar-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #eaeaea;
    --header-color-light: #E53834;    
    --header-color: #b21515;
    --card-danger-color: #e15244;
    --card-warning-color: #f8a348;
    --card-primary-color: #3a7b50;

    /* ===== TRANSITIONS ===== */
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    /* ===== FONTS ===== */

    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

/* ===== SCROLL ====== */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--body-color);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 50px;
    margin: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--sidebar-color);
}

/* ===== MAINS ===== */

body {
    background: var(--body-color);
}

.sidebar {
    width: 5rem;
    height: 95vh;
    background-color: var(--sidebar-color);
    color: white;
    position: fixed;
    top: 15px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.logo-img {
    width: auto;
    height: 55px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    height: calc(100% - 50px);
}

.sidebar ul li {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.sidebar a {
    text-decoration: none;
}

.nav-text {
    color: var(--text-color);
    font-weight: 600;
    margin-top: 5x;
    display: none;
}

/*===== EFFECTS ===== */

.sidebar li:hover .nav-text {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    transform: scale(1.05);  
    transition: var(--tran-05);

    margin-top: 10px;
}

.sidebar .btn-menu:hover .nav-icon {
    transform: scale(1.05);    
    transition: var(--tran-03);
    box-shadow: 0px 2px 2px rgb(7, 47, 35);
    background: var(--primary-color);
    border-radius: 20px;
    padding: 10px;
}

.sidebar .btn-menu:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: var(--tran-03);
}

/* ========== CONTAINER ========== */

.main {
    width: calc(100% - 120px);
    height: 100vh;
    margin-right: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.text-main {
    color: var(--primary-color);
    font-size: 2rem;
    padding-left: 0;
    margin: 20px;
    font-weight: 700;
}

/* ========== PLAYER ========== */

.playbody {
    width: calc(100% - 120px);
    height: 60px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 110px;
    border-radius: 20px;
    justify-content: center;
    z-index: var(--z-fixed);
    padding: 0 20px;
} 

.header {
    width: 100%;
    height: 75px;
    background: var(--body-color);
    align-items: center;
    position: fixed;
    left: 100px;
    justify-content: center;
    z-index: 1000;
    padding: 0 20px;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    padding: 8px 24px;
    border-radius: 64px;
    gap: 20px;
    color: white;
    position: relative;
}

#play-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.menu-dropdown img {
    width: 32px;
    height: 32px;
}

.menu-dropdown:hover {
    transform: scale(1.1);    
    cursor: pointer;
}

/* ========== CARDS ========== */

.card-img {
    object-fit: cover;
    border-radius: 20px; 
}

.card-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.program-img {
    width: 200px; 
    height: auto;
}

.btn-img-program {
    background: transparent;
    border: none;
}

.img-container {
    padding-right: 1rem; 
    padding-bottom: 1rem;
}

/* 
.card-link {
    width: 140px;
    height: 140px;
} */

.card-carousel {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border-radius: 20px;
}

.cb-avisos {
    align-items: center;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;


    color: var(--text-color);

}
.card-body {
    word-wrap: break-word; 
}
.card-text {
    white-space: pre-wrap; 
    word-break: break-word; 
}

.card-eqp {
    border-radius: 30px;

    background: transparent;
    border: none;

    max-width: 12rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.card-img-eqp {
    width: 100px;
    height: 160px;
    border-radius: 50%; 
    border: 3px solid var(--sidebar-color); 
    padding: 3px;
    object-fit: cover; 
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.pos-eqp {
    font-weight: 500;
    font-size: 1rem;
    color: var(--sidebar-color);
}

.name-eqp {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 0;


}
.ct-desc {
    padding-top: 10px;
    font-weight: 300;
    font-size: 1rem;
    color: var(--primary-color);
}

/* olhar isso aqui dps */
.img-about{
    width: 332px;
    height: 245px;
    object-fit: cover;

}

/* ========== OWL CAROUSEL ========== */

.carousel-imgs .item img{
    width: 100%; 
    height: 400px; 
    object-fit: cover;

}

/* ========== FOOTER ========== */

.footer {
    background-color: var(--primary-color); 
    color: #FFF; 
    text-align: center;
    padding: 40px 0;
    font-size: 13px; 
    font-family: Arial, sans-serif;
    border-radius: 20px;
}

.footer p {
    margin: 0;
    letter-spacing: 1px; 
    line-height: 1.6;
}

.footer strong {
    color: white; 
    font-weight: bold;
    text-transform: uppercase;
}

.footer a {
    color: #A3D9A5;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
    color: #FFF; 
}





/* ========== RESPONSIVE ========== */

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        flex-direction: row;
        height: 70px;
        position: fixed;
        padding: 0;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        border-radius: 0;
    }

    .sidebar .logo-img {
        display: none;
    }

    .sidebar ul {
        margin-top: 20px;
        margin-left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .sidebar ul li,
    .sidebar-footer {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

    }

    .sidebar ul li:hover .nav-text {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 700;
        color: var(--text-color);
        transform: translateY(-500%);
        transition: var(--tran-05);
    }
    
    .sidebar .btn-menu:hover .nav-icon {
        transform: scale(1.05);    
        transition: var(--tran-03);
        background: var(--primary-color);
        border-radius: 50px;
        padding: 20px;
        margin-top: 75px;
        box-shadow: none;
    }
    
    .sidebar .btn-menu:hover {
        margin-top: 20px;
        margin-bottom: 50px;
        transition: var(--tran-03);
    }
    
    .container-offc {
        display: block;
    }

    .content {
        margin-left: 0;
        padding-top: 70px; 
        /* margin-bottom: 80px; */
    }

    .content-about{
        margin-bottom: 90px;
    }

    .header {
        background-color: var(--primary-color);
        height: 100px;
        width: 100%;
        left: 0;
        top: 90vh;
        border-radius: 30px 30px 0 0;
        justify-content: center;
        align-items: center;
    }

    .playbody {
        background: none;
        width: 100%;
        top: 93%;
        left: 0;
        margin-bottom: 15px;
        transition: var(--tran-03);
        position: unset;
    }

    .player {
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .main {
        width: 100%;
        height: 100vh;
        /* margin-top: 10px; */
        padding-bottom: 80px;
    }

    .card-program {
        min-width: 15rem;
        max-width: 25rem;
    }
}



