{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<div class="container-fluid main">
    <div class="row justify-content-center">
        <div class="col-md-6 form-pedidos">
            <h1 class="text-main text-center">PEÇA UMA MÚSICA</h1>
            <form action="{% url 'pedidos_create' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success w-100 mt-3" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}