{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<div class="container-fluid main">
    <div class="row">
        <div class="col">
            <h1 class="text-main">FAÇA UM PEDIDO</h1>
            <form action="{% url 'pedidos_list' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Enviar</button>
            </form>
        </div>
    </div>
{% comment %}     
    <div class="row">
        <div class="col">
            <h2>Pedidos!</h2>
            {% for pedidos in musiclist %}
            <p><strong>{{pedidos.author}}</strong>: {{ pedidos.description }} - {{ pedidos.singer }}</p>
            {% endfor %}
            
        </div>
    </div> {% endcomment %}
</div>
{% endblock %}