{% extends "system/base.html" %}

{% block title %}Calendario{% endblock title %}

{% block content %}
<div class="container-fluid content ">
  <div class="row">
    <div class="col-12 d-flex header-main">
      <div class="text">
        AGENDA DE PROGRAMAS
      </div>

      <div class="col">
        <a href="{% url 'calendar_create' %}" type="button" class="btn btn-success mt-3 mx-2"><i class='bx bx-plus' ></i></a>
      </div>
    </div>
  </div>

  <div class="container-fluid table-content table-responsive pt-5 ps-0">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <span class="thead">DATA</span>
              </th>
              <th scope="col">
                <span class="thead">PROGRAMA</span>
              </th>
              <th scope="col">
                <span class="thead">COR</span> 
              </th>
              <th scopa="col">
                <span class="thead">AÇÕES</span> 
              </th>
            </tr>
          </thead>
          <tbody>
            {% for object in page.object_list  %}
            <tr>
                <th scope="row">{{ object.date }}</th>
                <th>{{ object.program }}</th>
                <th>
                  <div style="background-color:{{object.color}}; width:20px; height:20px;"></div>
                </th>
              <th>
                <a href="{% url 'calendar_update' object.pk %}" type="button" class="btn btn-primary"><i class='bx bx-edit'></i></a>
                <a href="{% url 'calendar_delete' object.pk %}" type="button" class="btn btn-danger"><i class='bx bx-trash'></i></a>
                <a href="{% url 'calendar' %}" type="button" class="btn btn-secondary"><i class='bx bx-show-alt'></i></a>
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include "partials/pagination.html" %}
      </div>
  </div>
</div>
{% endblock content %}


