{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}EVENTOS{% endblock %}

{% block content %}
<div class="container-fluid main mb-3 content-calendar">
    {% comment %} <div class="row">
        <div class="col-12">
            <h1 class="text-main"> AGENDA DE PROGRAMAS E EVENTOS </h1>
        </div>
    </div> {% endcomment %}
    <div class="row mt-5">
        <div class="col">    
            <div class="d-flex gap-3 mb-2">
                <div id="calendar"></div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-content-center w-100">
            <div class="container-fluid">
                <div class="legend-group legend-content">
                    <h1 class="text-main">LENGENDA</h1>
                    {% for program in programs %}
                    <div class="d-flex align-content-center gap-3 ps-4 text-center justify-align-content-between">
                        <div class="dot-legend mt-2" style="border-color: {{program.color}}; background: {{program.color}};"></div>
                        <span class="text-calendar">{{program.name}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>

        <footer class="container-fluid footer mt-5">
            <div class="container">
                <p class="text-footer">REDES SOCIAIS</p>
                <a class="link-footer" href="https://www.instagram.com/radioifrnspp/" target="blank_"><i class="bi bi-instagram"></i></a>
                <a class="link-footer" href="https://github.com/Thaynix/webradio-ifrn-spp"><i class="bi bi-github" target="blank_"></i></a>
            </div>
        </footer>

    </div>
    

    
    
    
</div>

{% endblock %}

{% block script %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            buttonText: {today: 'Hoje'},
            dayMaxEventRows: true, // for all non-TimeGrid views
            views: {
                timeGrid: {
                    dayMaxEventRows: 6 // adjust to 6 only for timeGridWeek/timeGridDay
                }
            },
            events: [
                // {% for event in events %}
                {
                    title: '{{ event.program.name }}',
                    start: '{{ event.date | date:"Y-m-d" }}T12:00:00',
                    id: '{{event.id}}',
                    borderColor: '{{event.program.color}}'
                }, 
                // {% endfor %}
            ],
        });
        calendar.render();
    });
</script>

{% endblock %}
