.text-logo-home {
    text-align: center;
    color: var(--color-33);
    font-family: londonaregular;
    font-size: 5rem;    
    letter-spacing: .2rem;
    /* border: 2px solid var(--color-38); */
}

/* ========== OWL CAROUSEL ========== */

.carousel-imgs .item img{
    width: 100%;
    height: 400px;
    object-fit: cover;

}

/* ========== SCROLL ========== */

.btn .roll {
    background: transparent;
    border: none;
}

.logo-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.img-logo {
    position: relative;
    z-index: 1; 
}

.img-icon {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.img-logo {
    animation: spin 60s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.roll i {
    color: var(--color-33);
    text-decoration: none;
    display: flex;
    font-size: 8rem;
    /* text-align: center; */
    justify-content: center;
}

.roll i:hover {
    transform: scale(1.2);
    transition: var(--tran-05);
}


.apresentation {
    width: 100%;
    /* padding: 0; */
    height: 99vh;
    background-color: var(--color-35);
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
}

.box {
    --mask:
    radial-gradient(34.02px at 50% calc(100% - 41.25px),#000 99%,#0000 101%) calc(50% - 66px) 0/132px 100%,
    radial-gradient(34.02px at 50% calc(100% + 8.25px),#0000 99%,#000 101%) 50% calc(100% - 33px)/132px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.playerbody {
    display: none;

}

.header {
    display: none;
}

/* olhar isso aqui dps */
.img-about{
    /* margin-top: 30px; */
    min-width: 300px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.about-text {
    text-align: justify;
}

/* ========== CARDS ========== */


/*
.card-link {
    width: 140px;
    height: 140px;
} */

.card-carousel {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-35);
    border-radius: 20px;
}

/* .card-carousel:hover {
    transform: scale(1.01);
    transition: var(--tran-03);
} */

.cb-avisos {
    align-items: center;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;


    color: var(--text-color);

}
.card-body {
    word-wrap: break-word;
}
.card-text {
    white-space: pre-wrap;
    word-break: break-word;
}

.card-eqp {
    border-radius: 30px;

    background: transparent;
    border: none;

    max-width: 13rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.card-img-eqp {
    /* width: 100px;
    height: 160px; */
    border-radius: 50%;
    border: 5px solid var(--color-39);
    padding: 3px;
    object-fit: cover;
    margin-top: 5px;
    margin-bottom: 5px;
    aspect-ratio: 1/1;

}

.pos-eqp {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-39);
}

.name-eqp {
    font-family: londonaregular;
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-35);
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;


}
.ct-desc {
    padding-top: 10px;
    font-weight: 300;
    font-size: 1.02rem;
    color: var(--color-39);
}
