.content-programs {
    flex-grow: 1;
    min-height: 100vh;
}

.card-img {
    /* margin: 5px; */
    /* border: 5px solid var(--color-35); */
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 20px;
    /* padding: 10px; */
}

/* .card-img:hover {
    transform: scale(1.1);
    cursor: pointer;
} */

.program-img {
    max-width: 300px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.btn-img-program {
    text-decoration: none;
    background: transparent;
    border: none;
}

.img-container {
    /* padding-right: 1rem; */
    padding-bottom: 1rem;
}



.title-card-program {
    justify-content: center;
    text-align: center;
    color: var(--color-35);
}

.card-program img {
    border-radius: 10px;   
}

.card-program {
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    border: none;

}

.card-program:hover {
    transform: scale(1.01);
    transition: var(--tran-03);
}

.title-card-program {
    /* font-family: QuickSand, sans-serif; */
    font-family: londonaregular;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: var(--color-35);
}

.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

/* ===== PROGRAM DETAILS ==== */

.container-program-detail {
    display: flex;
    flex-direction: column;
    background: var(--color-34);
}

.table-ep {
    width: 20%;
}

.info-program {
    padding: 10px;
    background-color: var(--color-35);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--color-33);
    font-family: QuickSand, sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
}

.program-img {
    position: relative;
    left: 0;
}

/* .container-program-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-34);
} */

.box-left {
    --mask:
      radial-gradient(24.12px at calc(100% - 31.9px) 50%,#000 99%,#0000 101%) 0 calc(50% - 44px)/100% 88px,
      radial-gradient(24.12px at calc(100% + 9.9px) 50%,#0000 99%,#000 101%) calc(100% - 22px) 50%/100% 88px repeat-y;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.ep-title {
    display: none;
}
