/* ===== SIDEBAR ===== */

.sidebar:hover {
    transform: scale(1.01);
    transition: var(--tran-05);
} 

/* ===== SIDEBAR ICONS ===== */

/* .sidebar li:hover .nav-text {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    transform: scale(1.05);
    transition: var(--tran-05);
    margin-top: 10px;
} */

/* .sidebar li:hover {
    transform: scale(1.08);
    transition: var(--tran-03);
    background: var(--color-35);
    border-radius: 10px;
    aspect-ratio: 1/1;
    padding: 5px;
} */


/* Animação no texto */
.sidebar li:hover .nav-text {
    opacity: 1; /* torna o texto visível */
    transform: translateY(0); /* remove o deslocamento */
    transition: var(--tran-05);
}

/* ===== HEADER ===== */

/* .playbody:hover {
    transform: scale(1.01);
    transition: var(--tran-05);
} */