*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-33);
    padding: 0;
}

/* ===== SCROLL ===== */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--body-color2);
}

::-webkit-scrollbar-thumb {
    background: var(--color-11);
    border-radius: 50px;
    margin: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-13);
}

