{% extends "base.html" %}

{% block title %}EPISODIOS_PROGRAMA{% endblock %}

{% block content %}

<div class="container-fluid main d-flex justify-align-content-center align-items-center">

    <div class="container container-program-detail">
        <div class="row unified-element">
            {% comment %} d-flex flex-column info-program p-3 {% endcomment %}
            <div class="col-lg-6 col-sm-12 col-md-12 box-left info-program">
                {% if program.image %}
                    <img src="{{ program.image.url }}" class="img-fluid program-img"  alt="{{ program.title }}"> 
                {% endif %}
                <div class="text ms-3">
                    <h1 class="mb-1">{{ program.name }}</h1>
                    <p class="mb-0">{{ program.description }}</p>
                </div>
            </div>
            {% comment %} d-flex flex-column tab-ep p-3 {% endcomment %}
            <div class="col-lg-6 col-md-12 col-sm-12 table-responsive d-flex justify-content-center align-content-center    ">
                <table class="table-ep">
                    <thead>
                        <tr>
                            <th colspan="5" scope="col" class="text-center">
                                <h1 class="title-list-ep">EPISÓDIOS</h1>
                            </th>
                        </tr>
                    </thead>
                    {% for ep in eps %}
                    <tbody>
                        <tr>
                            <td>
                                <strong>EP {{ forloop.counter }}</strong>
                            </td>
                            <td class="ep-title">
                                <p>{{ ep.title }}</p>
                            </td>
                            <td>
                                <audio controls>
                                    <source src="{{ ep.audio.url }}" type="audio/mp3" />
                                </audio>
                            </td>
                            <td>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
