{% extends "base.html" %}

{% block title %}EPISODIOS_PROGRAMA{% endblock %}

{% block content %}

<div class="container-fluid main">
    <div class="container-fluid content-program mt-5">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                {% if program.image %}
                    <img src="{{ program.image.url }}" class="img-fluid program-img"  alt="{{ program.title }}"> 
                {% endif %}

                <a href="{% url 'index' %}"></a>

                <div class="text ms-3">
                    <h1 class="mb-1">{{ program.name }}</h1>
                    <p class="mb-0">{{ program.description }}</p>
                </div>

            </div>

        </div>
    </div>

    <div class="content-ep mt-5">
        <div class="row">
            <div class="col d-flex align-items-center">
                <table class="w-100">
                    <thead>
                        <tr>
                            <th>EPISODIOS</th>
                        </tr>
                    </thead>
                    {% for ep in eps %}
                    <tbody>
                        <tr>
                            <td>
                                <strong>EP {{ forloop.counter }}</strong>
                            </td>
                            <td>
                                <p>{{ ep.title }}</p>
                            </td>
                            <td>
                                <audio controls>
                                    <source src="{{ ep.audio.url }}" type="audio/mp3" />
                                </audio>
                            </td>
                            {% comment %} {% for object in programsep %} {% endcomment %}
                            <td>
                                {% comment %} <a href="{% url 'programep_update' %}" type="button" class="btn btn-primary"><i class='bx bx-edit'></i></a> {% endcomment %}

                            </td>
                            {% comment %} <td>
                                <a href="" type="button" class="btn btn-danger"><i class='bx bx-trash'></i></a>
                            </td> {% endcomment %}
                            {% endfor %}
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
