{% extends "base.html" %}

{% block title %}Programação{% endblock %}

{% block content %}
<div class="container-fluid main">
    <div class="row">
        <div class="col-12 content justify-content-center">
            <h1 class="text-main">PROGRAMAS</h1>
            <!-- ==== CARDS ====-->
            <div class="container-fluid card-container">
                <div class="row">
                    {% for Program in programs %}
                    <div class="col pb-3">
                        <div class="card card-program">
                            {% if Program.image %}
                            <img src="{{ Program.image.url }}" class="card-img-top card-img" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title center">{{ Program.name }}</h5>
                                <p class="card-text">{{ Program.description }}</p>
                                <a href="" class="btn btn-primary">butao</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p> nao tem programas </p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}