{% extends "base.html" %}

{% block title %}Programação{% endblock %}

{% block content %}
<div class="container-fluid main">
    <div class="row">
        <div class="col-12 content justify-content-center">
            <h1 class="text-main">PROGRAMAS</h1>
            <!-- ==== IMGS ====-->
            <div class="container-fluid card-container">
                <div class="row g-3"> 
                    {% for program in programs %}
                    <div class="col-lg-2 col-md-3 col-sm-6 col-12"> 
                        <a class="btn-img-program" href="{% url 'program_detail' program.pk %}">
                            <div class="img-container"> 
                                {% if program.image %}
                                    <img src="{{ program.image.url }}" class="img-fluid card-img" alt="{{ program.title }}"> 
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% empty %}
                    <p>Não há programas disponíveis no momento.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
