{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container-fluid login main pt-0">
  <div class="container-fluid content-form-pedidos d-flex justify-content-center align-items-center">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 form-login">
              <h1 class="text-main-form text-center">LOGIN</h1>
              <form action="" method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn btn-forms w-100 mt-3" type="submit">ENTRAR</button>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
