{% load static %}
<div class="col header-bg">
  <header class="header" id="header">
      <div class="container-player playbody navbar">
          <div class="row">
            <div class="col d-flex">
              
              <button class="navbar-toggler btn-toggler-header" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class='icon-menu bx bx-menu'></i>
              </button>
              
              <div class="offcanvas offcanvas-start tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RÁDIO IFRN-SPP</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="{% url 'calendar' %}">Agenda</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="{% url 'pedidos_create' %}">Pedidos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="{% url 'program_list' %}">Programas</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a href="{% url 'home_list_system' %}" class="btn-menu nav-link">Sistema</a>
                    </li>             
                    {% endif %}
                    <li class="nav-item">
                      {% if request.user.is_authenticated %}
                      <form action="{% url 'logout' %}" method="post">
                      {% csrf_token %}
                        <button class="bg-transparent border-0" type="submit">
                        <li><a href="{% url 'logout' %}" class="btn-menu nav-link">Sair</a></li></button>
                      </form>
                    </li>
                  
                      {% else %}
                      <li class="nav-item"><a href="{% url 'login' %}" class="btn-menu nav-link">Login</a></li>
                      {% endif %}
                    
                      
                    </li>
                  </ul>
                  {% comment %} <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form> {% endcomment %}
                </div>
              </div>

              <h1 class="fingir">LOGO IFRN-SPP</h1>


            </div>            
            {% comment %} <div class="col">
              <img class="logo-header" src="{% static 'img/icons/frame-1.png' %}" alt="" srcset="">
            </div> {% endcomment %}
          </div>
      </div>
  </header>
</div>
