{% load static %}
<div class="col header-bg">
  <header class="header" id="header">
      <div class="container-player playbody">
          <div class="row">
              <div class="col">
                  <div class="player">
                      <div class="control">
                        <img src= {% static "img/icons/icons8-reproduzir-32.png" %} alt="" id="play-btn">
                        <audio id="radioPlayer" src="https://stm1.srvif.com:8484/stream/"></audio>                          
                      </div>
                      <div class="info"> Dragão Negro - Jubarte Ataca </div>
                      <div class="menu-dropdown">
                          <img src= {% static 'img/icons/icons8-divisa-circulada-à-abaixo-48.png' %} alt="" class="icon">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
</div>