{% extends "system/base.html" %}

{% block title %}Inicio{% endblock title %}

{% block content %}
<div class="container-fluid content ">
  <div class="row">
    <div class="col-12 d-flex header-main">
      <div class="text">
        INICIO
      </div>

      <div class="col">
        <a href="{% url 'warning_create' %}" type="button" class="btn btn-success mt-3 mx-2"><i class='bx bx-plus' ></i></a>
      </div>

      <div class="col-5 pt-3">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-search btn-outline" type="submit"><i class='bx bx-search-alt'></i></button>
        </form>
      </div>
    </div>
  </div>
    
  <div class="container-fluid table-content pt-5 ps-0">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">TITULO</th>
              <th scope="col">DESCRIÇÃO</th>
              <th scope="col">AUTOR</th>
              <th scopa="col">DATA</th>
              <th scopa="col">AÇÕES</th>
            </tr>
          </thead>
          <tbody>
            {% for object in cards %}
            <tr>
              <th>{{ object.title}}</th>
              <th>{{ object.description}}</th>
              <th>{{ object.author}}</th>
              <th>{{ object.date}}</th>
              <th>
                <a href="{% url 'warning_update' object.pk %}" type="button" class="btn btn-primary"><i class='bx bx-edit'></i></a>
                <a href="{% url 'warning_delete' object.pk %}" type="button" class="btn btn-danger"><i class='bx bx-trash'></i></a>
                <a href="{% url 'index' %}" type="button" class="btn btn-secondary"><i class='bx bx-show-alt'></i></a>
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
{% endblock content %}