
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'css/system.css' %}">
</head>
<body>

    {% block sidebar_system %}

    <div class="sidebar">
        <header class="sidebar-header">
            <img class="logo-img" src="{% static 'img/icons/icons8-iheartradio-100.png' %}" alt="">
            <span class="text-logo">RÁDIO IFRN-SPP</span>
        </header>
        <i id="btn" class='bx bx-menu bx-rotate-180'></i>
        <ul class="nav-list p-0">
            <li>
                <a href="{% url 'home_list_system' %}">
                    <i class='bx bxs-carousel' ></i>
                    <span class="nav-text">Carrosel</span>
                </a>
            </li>
            <li>
                <a href="{% url 'warning_list_system' %}">
                    <i class='bx bxs-megaphone'></i>
                    <span class="nav-text">Avisos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'about_list_system' %}">
                    <i class='bx bx-text' ></i>
                    <span class="nav-text">Sobre</span>
                </a>
            </li>
            <li>
                <a href="{% url 'profile_list_system' %}">
                    <i class='bx bxs-group'></i>
                    <span class="nav-text">Equipe</span>
                </a>
            </li>
            <li>
                <a href="{% url 'program_list_system' %}">
                    <i class='bx bx-microphone' ></i>
                    <span class="nav-text">Programas</span>
                </a>
            </li>
            <li>
                <a href="{% url 'calendar_list' %}">
                    <i class='bx bx-calendar'></i>
                    <span class="nav-text">Calendario</span>
                </a>
            </li>
            <li>
                <a href="{% url 'pedidos_list_system' %}">
                    <i class='bx bxs-message-square-dots'></i>
                    <span class="nav-text">Pedidos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'index' %}">
                    <i class='bx bx-arrow-back'></i>
                    <span class="nav-text">Voltar</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="profile">
                <div class="profile-details">
                    <div class="profile-name">
                        {% if request.user.is_authenticated %}
                        <div class="name">{{ request.user }}</div>
                        <div class="position">Bolsista</div>
                    </div>
                </div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="bg-transparent border-0" type="submit">
                    <a href="{% url 'logout' %}" class="btn-menu"><i class='bx bx-log-out' id="logout"></i></a></button>
                </form>
                {% endif %}
                
            </div>
        </div>
    </div>
    {% endblock %}



    {% block content %}
    {% endblock content %}
        

        
   

</body>

    {% comment %} ===== JS ===== {% endcomment %}
    <script src="{% static 'js/main_system.js' %}"></script>
    {% comment %} ==== BS ==== {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</html>