.content-form-pedidos {
    height: 100vh;
}

.content-form-login {
    height: 100vh;
}

.form-pedidos {
    border-radius: 10px;
    padding: 20px;
    background: var(--color-35);
}

.form-login {

    border-radius: 10px;
    padding: 40px;
    background: var(--color-35);
}

.text-main-form {
    color: var(--color-39);
    font-size: 3rem;
    margin: 20px;
    font-weight: 700;
    letter-spacing: .2rem;
    font-family: londonaregular;
}

.form-label {
    margin-bottom: .5rem;
    font-size: 1.3rem;
    font-family: Quicksand;
    text-transform: uppercase;
    color: var(--color-33);
}

.btn-forms {
    background-color: var(--color-39);
    color: var(--color-35);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-family: Quicksand;
    text-transform: uppercase;
}
.btn-forms:hover {
    /* color: var(--bs-btn-hover-color); */
    /* background-color: var(--bs-btn-hover-bg); */
    border-color: var(--bs-btn-hover-border-color);
}
