{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link rel="stylesheet" href={% static 'css/styles.css' %}>
        <title>{% block title %}{% endblock %} - Rádio IFRN SPP</title>
    </head>
    <body>

        <div class="container-fluid">
            {% block sidebar %}
            <div class="row">
                <div class="col-12 p-sm-0 p-0">
                    <div class="sidebar">
                        <header class="sidebar-header">
                            <img class="logo-img" src= {% static 'img/icons/icons8-iheartradio-100.png' %} alt="">
                        </header>
                        <ul>
                            <li>
                                <a href={% url "index" %} class="btn-menu">
                                <img src= {% static 'img/icons/icons8-casa-32.png' %} alt="" class="nav-icon">
                                <span class="nav-text">Inicio</span>
                                </a>
                            </li>
                            <li>
                                <a href={% url "programacao" %} class="btn-menu">
                                <img src= {% static 'img/icons/icons8-microfone-32.png' %} alt="" class="nav-icon">
                                <span class="nav-text">Programas</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn-menu">
                                <img src= {% static 'img/icons/icons8-semana-da-linha-do-tempo-32.png' %} alt="" class="nav-icon">
                                <span class="nav-text">Agenda</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn-menu">
                                <img src= {% static 'img/icons/icons8-balão-de-fala-com-pontos-32.png' %} alt="" class="nav-icon">
                                <span class="nav-text">Pedidos</span>
                                </a>
                            </li>
                        </ul>
                        <div class="sidebar-footer d-md-block">
                            <ul>

                                {% if request.user.is_authenticated %}
                            
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="bg-transparent border-0" type="submit">
                                    <li><a href="{% url 'logout' %}" class="btn-menu"><img src= {% static 'img/icons/icons8-sair-32.png' %} alt="" class="nav-icon"><span class="nav-text">Sair</span></a></li></button>
                                </form>
                                
                            
                                {% else %}
                                <div class="nav-item">
                                    <li><a href="{% url 'login' %}" class="btn-menu"><img src= {% static 'img/icons/icons8-entrar-32.png' %} alt="" class="nav-icon"><span class="nav-text">Login</span></a></li>
                                {% endif %}

                                
                                <li><a href="#" class="btn-menu"><img src= {% static 'img/icons/icons8-rolo-de-pintura-32.png' %} alt="" class="nav-icon"><span class="nav-text">Mode</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block container %}
            <div class="container-fluid">
                <div class="row">
                    
                    {% block header %}
                    <div class="col header-bg">
                        <header class="header" id="header">
                            <div class="container-player playbody">
                                <div class="row">
                                    <div class="col">
                                        <div class="player">
                                            <div class="control">
                                                <img src= {% static "img/icons/icons8-reproduzir-32.png" %} alt="" id="play-btn">
                                            </div>
                                            <div class="info"> Dragão Negro - Jubarte Ataca </div>
                                            <div class="menu-dropdown">
                                                <img src= {% static 'img/icons/icons8-divisa-circulada-à-abaixo-48.png' %} alt="" class="icon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                    {% endblock %}

                    {% block content %}
                    {% endblock %}

                </div>
            </div>
            {% endblock %}
        </body>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src= {% static 'js/jquery.js' %}></script>

        {% block script %}{% endblock script %}
</html>