{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block inicio %}
    <section class="apresentation box">
        <div class="col-12 content justify-content-center">
            <div class="container-fluid p-0 home-container">
                <div class="row">
                    <div class="logo-section d-flex justify-content-center align-content-center position-relative">
                        <img class="img-fluid img-logo" src="{% static 'img/icons/title-logo.png' %}" alt="">
                        <img class="img-fluid img-icon" src="{% static 'img/icons/logo-icon.png' %}" alt="">
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="row">
                            <a class="btn roll" href="#home" onclick="scrollToSection(#home)"><i class='bx bx-chevron-down'></i></a>
                        </div>
                    </div>
                </div>
                
                

            </div>      
        </div>
    </section>
{% endblock inicio %}




{% block content %}
<div class="container-fluid main">
    <div class="row">
        <section id="home" class="home">
            <div class="col-12 content justify-content-center">
                <div class="container-fluid home-container">
                    <div class="row">
                    <div class="title-section">
                        {% comment %} <h1 class="text-main text-logo-home">RÁDIO IFRN-SPP</h1> {% endcomment %}

                    </div>
                        <div class="col pb-3 carousel-content mt-1">
                            <div class="owl-carousel carousel-imgs owl-theme">
                                {% for ImageCarousel in carousel %}
                                {% if ImageCarousel.image %}
                                    <div class="item">
                                        <img src="{{ ImageCarousel.image.url }}" alt="">
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="avisos">
            <div class="col-12 content pt-0 justify-content-center">
                <h1 class="text-main">AVISOS</h1>
                <!-- ==== CARDS ====-->
                <div class="container-fluid card-container">
                    <div class="row">
                        <div class="col pb-3">
                            <div class="owl-carousel carousel-cards owl-theme">
                                {% for WarningCard in cards %}
                                <div class="item">
                                    <div class="card card-carousel">
                                        <div class="card-body cb-avisos">
                                            <h5 class="card-title">{{ WarningCard.title }}</h5>
                                            <p class="card-text wordwrap:p ">{{ WarningCard.description }}</p>
                                            <p class="card-text text-white"><small class=" text-white">publicado por {{ WarningCard.author.username }} em {{ WarningCard.date|date:"SHORT_DATE_FORMAT" }}</small></p>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>nao tem nada</p>
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="col-12 content pt-0 justify-content-center">

                <div class="title-section">
                    <h1 class="text-main">SOBRE A RÁDIO IFRN-SPP</h1>
                </div>
                    <!-- ==== CARDS ====-->
                <div class="container content-about align-items-center">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 pb-3">
                            {% for AboutRadio in about %}
                            <div class="col">
                                <p class="about-text">{{ AboutRadio.text }}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 pb-3 d-flex justify-content-center">
                            {% if AboutRadio.image %}
                            <img src="{{ AboutRadio.image.url }}" class="img-about align-self-center" alt="...">
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    
                    
                    <div class="row">
                        <div class="title-section">
                            <h1 class="text-main">EQUIPE</h1>
                        </div>
                        <div class="col d-flex align-items-center pb-3">
                            <div class="owl-carousel carousel-cards-team owl-theme">
                                {% for ProfileCard in profilecards %}
                                <div class="item">
                                    <div class="equipe-card">
                                        <div class="card card-eqp">
                                            <div class="card-body cb-eqp">
                                                {% if ProfileCard.image %}
                                                <img src="{{ ProfileCard.image.url }}" class="card-img-eqp" alt="...">
                                                {% else %}
                                                <p>Nenhuma imagem disponível</p>
                                                {% endif %}
                                                <h5 class="card-text name-eqp">{{ ProfileCard.name }}</h5>
                                                <p class="card-title pos-eqp m-0">{{ ProfileCard.position }}</p>
                                                <p class="card-text ct-desc m-0">{{ ProfileCard.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>nao tem nada</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="container-fluid footer ">
            <div class="container">
                <p>&copy; 2024 <strong>Your Website</strong>. All rights reserved.</p>	        <div class="footer-channels">
                </div>
        </footer>

    </div>
</div>

{% endblock %}