{% extends "base.html" %}

{% block content %}
<div class="container-fluid main">
    <div class="row">
        <div class="col-12 content justify-content-center">
            <h1 class="text-main">PROGRAMAS</h1>
            <!-- ==== CARDS ====-->
            <div class="container-fluid card-container">
                <div class="row">
                    <div class="col pb-3">
                        <div class="card card-program">
                            <img src="https://i.pinimg.com/originals/ad/56/e3/ad56e350b2e4b691d6f13d533926f4e4.gif" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title center">[NOME DO PROGRAMA]</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <!-- Adicione mais colunas de cards conforme necessário -->
                    <div class="col pb-3">
                        <div class="card card-program">
                            <img src="https://i.pinimg.com/originals/ad/56/e3/ad56e350b2e4b691d6f13d533926f4e4.gif" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title center">[NOME DO PROGRAMA]</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col pb-3">
                        <div class="card card-program">
                            <img src="https://i.pinimg.com/originals/ad/56/e3/ad56e350b2e4b691d6f13d533926f4e4.gif" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title center">[NOME DO PROGRAMA]</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col pb-3">
                        <div class="card card-program">
                            <img src="https://i.pinimg.com/originals/ad/56/e3/ad56e350b2e4b691d6f13d533926f4e4.gif" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title center">[NOME DO PROGRAMA]</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col pb-3">
                        <div class="card card-program">
                            <img src="https://i.pinimg.com/originals/ad/56/e3/ad56e350b2e4b691d6f13d533926f4e4.gif" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title center">[NOME DO PROGRAMA]</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col pb-3">
                        <div class="card card-program">
                            <img src="https://i.pinimg.com/originals/ad/56/e3/ad56e350b2e4b691d6f13d533926f4e4.gif" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title center">[NOME DO PROGRAMA]</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}